
body {
            background-color: grey;
            padding-top: 3.5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
.col-sm-12 {
  padding: 5px;
  border-color: black;
  border: 2px;
  margin: 5px;
}

.header {
  /* background-image:url("../images/header.jpg"); */
  background-color:grey;
  width: 100%;
  color: white;
  text-align: center;
  /* font-family: 'Lato', sans-serif; */
}

.intro {
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.row .inner {
  background-color: grey;
  color: white;
  border: 1px solid;
  margin: 5px;
}

.row {
  background-color: grey;
  color: white;
}

/* .row + .row {
   border-top:0;
} */

.options-select {
  display: inline-block;
  padding: 20px;
}

.form-group {
  display: inline-block;
}
